.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;

    .pagination-btn {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        background-color: #f7f1ff;
    }
}

.active-hover {
    background-color: #b080f0 !important;
}