// BACKFGROUND COLOR
.fffcff-bg-color {
    background-color: #fffcff;
    padding-bottom: 100px;
}

.f7f1ff-bg-color {
    background-color: #f7f1ff;
}
.white-bg {
    background-color: #fff;
}

.filter-header{
    padding-top: 70px;
    padding-bottom: 70px;

    img {
        object-fit: cover;
        object-position: 0% 65%;
        height: 100px;
        width: 100%;
    }
}

.filter {
    border: 1px solid rgba($color: #000, $alpha: .5);
    width: 1440px;
    margin: auto;

    .filter-title {
        width: 1440px;
        margin: auto;

        h1 {
            text-align: center;
            
        }
    }

    .filter-job {
        padding: 40px 0;
    
        .filter-job-container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 1440px;
            min-height: 1000px;
            margin: auto;
            padding: 20px;
    
            .filter-job-card {
                border: 1px solid #000;
                border-radius: 10px;
                display: flex;
                align-items: center;
                position: relative;
                width: 900px;
                height: max-content;
                transition: .2s linear;
                cursor: pointer;
    
                &:hover {
                    border: 1px solid #7c28f1;
                    scale: 1.005;
                    box-shadow: 0 0 3px 0 #7c28f1;
                }
    
                &:hover h3 {
                    color: #842cff;
                }
            }
        }
    }
}

.filter-company-logo {
    border: 1px solid #000;
    border-radius: 7px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 30px 20px;

    img {
        min-height: 90px;
        max-height: 100px;
        min-width: 70px;
        max-width: 100px;
        object-fit: contain;
    }
}

.job-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: calc((100% * 2.8) / 4);

    h3 {
        font-family: LexenRegular;
        font-size: 24px;
    }

    h4 {
        font-family: LexenThin;
        font-size:20px;
    }

    .job-jd {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    span {
        text-transform: capitalize;
        font-size: 16px !important;
        font-family: LexenRegular;
        font-weight: bold;
        margin-left: 15px;
    }

    p {
        display: flex;
        gap: 5px;
        align-items: center;

        span {
            margin: 0 !important;
            position: relative;
        }
    }

    .job-requirement {
        display: flex;
    }
}

.job-salary {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-20%, 40%);

    p {
        font-family: LexenSemiBold;
        font-size: 20px;
        color: #7c28f1;
    }
}
