.author-info {
    background-color: #1E0540;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    width: 650px;
    overflow: hidden;
    text-shadow: 0 0 5px rgba(0, 0, 0, .75);

    .info-head {
        width: 450px;
        z-index: 2;

        h3 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: LexenSemiBold;
            font-size: 36px;
        }

        p {
            opacity: .9;
            font-size: 20px;
        }
    }

    .info-body {
        width: 450px;
        z-index: 2;

        p {
            font-size: 20px;
            font-family: LexenThin;
            font-weight: bold;
            letter-spacing: 2px;
            margin: 30px 0;
            cursor: default;

            &:hover {
                font-family: LexenRegular;
            }
        }
    }

    .cir-dec-bg {
        border-radius: 50%;
        filter: blur(75px);
        position: absolute;
    }
}


// DECORATION
.fst-cir {
    background-color: #7c28f1;
    top: 0;
    left: 0;
    transform: translate(-40%, -40%);
    width: 400px;
    height: 400px;
}

.snd-cir {
    background-color: #E625BC;
    width: 400px;
    height: 400px;
    transform: translate(80%, 5%);
}

.thr-cir {
    background-color: #3149e7;
    width: 200px;
    height: 200px;
    transform: translate(-40%, 140%);
}