.filter-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .filter-container {
        background-color: rgba(0, 0, 0, .25);
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 10px;
        padding: 30px;
        width: max-content;
    
        &:hover {
            border: 1px solid #7c28f1;
            box-shadow: 0 0 5px 0 #7c28f1;
            transition: .5s ease-in-out;
        }

        h1 {
            color: #fff;
            font-size: 28px;
            padding-bottom: 25px;
    
            span {
                color: #842cff;
            }
        }

        .job-search {
            background-color: #fff;
            border-radius: 7px;
            display: flex;
            align-items: center;
            gap: 5px;
            width: max-content;
            height: 40px;
        
            input {
                border: none;
                width: 250px;
        
                &:focus {
                    outline: none;
                }
        
                &::placeholder {
                    font-family: LexenRegular;
                    font-size: 14px;
                }
            }
    
            .search-icon {
                margin-left: 15px;
            }
    
            .location-filter {
                border-left: 1px solid rgba($color: #000, $alpha: .1);
                display: flex;
                gap: 5px;
                position: relative;
                padding-left: 15px;
                width: 175px;
    
                span {
                    font-size: 14px;
                    font-family: LexenThin;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            
                .arrow-down-icon {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
    
            i {
                color: #5a3689;
                font-size: 14px;
            }
    
            button {
                border: none;
                border-radius: 5px;
                background-color: #5a3689;
                color: #fff;
                cursor: pointer;
                font-family: LexenSemiBold;
                padding: 7px 20px;
                margin-left: 20px;
                margin-right: 5px;
    
                &:hover {
                    opacity: .8;
                    transition: .2s linear;
                }
            }
        }
    }

    .survey {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 650px;

        .business-survey , .candidate-survey {
            width: max-content;
            margin-top: 20px;

            &:hover span {
                color: #E625BC;
                transition: .5s linear;
            }

            &:hover img {
                scale: 1.1;
                box-shadow: 0 0 5px 0 #7c28f1;
                transition: .2s linear;
            }

            h3 {
                text-align: center;
                margin-bottom: 10px;
                color: #fff;

                span {
                    color: #842cff;
                }
            }

            a {
                img {
                    border-radius: 10px;
                    width: 275px;
                    height: 130px;
                    object-fit: cover;
                }
            }
        }
    }
}