#sub-slider {
    padding: 40px 0;

    .sub-slider-container {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        margin: auto;
        width: 1440px;
        overflow: hidden;

        &::before , &::after {
            position: absolute;
            height: 110px;
            width: 150px;
            content: "";
            z-index: 2;
        }

        &::before {
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
            top: 0;
            left: 0;
        }

        &::after {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
            top: 0;
            right: 0;
        }
    
        .card-list {
            display: flex;
            justify-items: center;
            align-items: center;

            .company-card {
                cursor: pointer;
    
                img {
                    display: block;
                    margin: 0 20px;
                    padding: 15px 0;
                    min-height: 90px;
                    max-height: 110px;
                    min-width: 100px;
                    max-width: 200px;
                    object-fit: contain; 
                    // filter: grayscale(100%);
    
                    &:hover {
                        transition: 0.3s;
                        // filter: grayscale(0);
                    }
                }
    
                p {
                    font-family: LexenSemiBold;
                    text-align: center;
                    margin: 10px 0;
                }
            }
        }
    }
}