.sub-slider-container:hover .card-list {
    animation-play-state: paused;
}

.card-list {
    animation: slide 12s infinite linear;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}