#handbook {
    background-color: #f7f1ff;
    padding-top: 50px;
    padding-bottom: 100px;

    h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-bottom: 50px;
    }

    .handbook-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px;
        width: 1440px;
        margin: auto;
    }
}

.handbook-card {
    background-color: #fff;
    border-radius: 10px;
    text-decoration-line: none;
    color: #000;
    width: 450px;
    height: 400px;
    position: relative;

    &:hover {
        transition: .5s;
        scale: 1.05;
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, .25);
    }

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    h2 {
        font-size: 22px;
        font-weight: 400;
        font-family: 'LexenSemiBold';
        padding-left: 20px;
        margin: 10px 0;
    }

    p {
        color: #414141;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}