@font-face {
    font-family: 'LexenRegular';
    src: local('LexenRegular'),
        url('./lexenFonts/static/Lexend-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LexenSemiBold';
    src: local('LexenSemiBold'),
        url('./lexenFonts/static/Lexend-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'LexenThin';
    src: local('LexenThin'),
        url('./lexenFonts/static/Lexend-Thin.ttf') format('truetype');
}